/* Big tablet to 1200px (widths smaller taht the 1140px row) */
/* @media only screen and (max-width: 1200px) {
    
} */


/* Small tablet to big tablet: from 768px to 1023px */
/* @media only screen and (max-width: 1023px) {

} */


/* Small phones to small tablets: from 481px to 767px */
/* @media only screen and (max-width: 767px) {
    
} */

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

    header {
        background-image: linear-gradient(rgb(0, 0, 15, 0.7), rgba(0, 0, 15, 0.6)), url(image/back_mobile.jpg);
        background-position: left;
    }
    html{
        font-size: 18px;
    }

    .pages{
        width: 100%;
    }
    
    .shadow {display: none;}
    

    .contact {
        width: 100%;
        font-size: 100%;
        padding: 0 15% 10px;
    }

    .navbar {
        position: absolute;
        width: 150px;
        height: 0;
        top: 10px;
        right: 10px;
        text-align: left;
        box-shadow: 0px 0px 20px #12191f;
        border-radius: 5px;
        z-index: 998;
        transition: 0.5s;
        overflow: hidden;
        background-color: rgb(0, 37, 56, 0.95);
    }

    .navbar img{
        position: fixed;
        left: 10px;
        top: 10px;
        width: 50px;
        height: auto;
        margin-top: 0px;
        border: none;
        transition: all 0.5s;
    }

    .list{display:block;}
    
    .next{display: block;}

    section{
        padding-bottom: 150px;
    }

    section p { width: 80%;}

    .home h1{
        letter-spacing: 3px;
        font-size: 220%;
    }
    .home h2{
        font-size: 150%;
    }
}

/* @media only screen and (max-width: 360px){

} */