* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

html{
    font-family: 'Roboto', 'Arial';
    font-size: 20px;
}

  /**************************************************/
 /*                     General                    */         
/**************************************************/

header {
    background-image: url(image/back8.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.pages{
    width: 81%;
}

.shadow {
    position: fixed;
    top: 0px;
    left: 23%;
    height: 20px;
    width: 35%;
    background-color: none;
    border-radius: 50%;
    box-shadow: 0px 490px 70px #12191f;
}

/******************contact*************/

.contact {
    position: absolute;
    bottom: 10px;
    width: 64.8%;
    left: 8.1%;
    text-align: center;
    display: inline-block;
    padding: 8px 10px;
    font-size: 150%;
}

.contact i{
    text-decoration: none;
    color: #12191f;
    text-shadow: 0px 10px 30px transparent;
}

.contact i:hover{
     text-shadow: 0px 40px 35px #12191f;
}

.contact spam i{
    margin-left: 61px;
}

  /***************************************************/
 /*                      Navabar                    */         
/***************************************************/
.navbar {
    position: fixed;
    width: 19%;
    height: 100vh;
    top 0;
    right: 0;
    background-color: #12191f;
    text-align: center;
    box-shadow: 4px 5px 50px #12191f;
}

img{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 160px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #2a3a49;
}

li{
    list-style: none;
    margin-top: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ecf0f1;
    font-size: 80%;
    cursor: pointer;
    padding: 6px 10px;
    transition: color 100ms;
    text-shadow: 0px 10px 30px transparent;
    
}

li:hover{
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
}

.list {
    display: none;
}

  /***************************************************/
 /*                       HOME                      */         
/***************************************************/

.home {
    text-align: center;
    width: 80%;
    margin-left: 10%;
    padding-top: 225px;
}
h1{
    font-size: 320%;
    font-weight: 400;
    color: #12191f;
}
h2{
    font-size: 175%;
    font-weight: 400;
    color: #12191f;
}



  /***************************************************/
 /*                    Sections                     */         
/***************************************************/

section {
    width: 90%;
    text-align: left;
    margin-left: 31%;
    padding-top: 210px;
}
h3 {
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 10px;
    color: #12191f;
}

section p {
    text-align: justify;
    width: 43%;
    font-size: 90%;
    color: #12191f;
    word-spacing: 1px;
}

  /***************************************************/
 /*                      Footer                     */         
/***************************************************/

footer {
    height: 50px;
    width: 100%;
    background-color: #0b1014;
    text-align: center;
    color: #ecf0f1;
    padding: 15px;
    font-size: 70%;
    border-top: 2px solid #24333e;
}

footer a{
    text-decoration: none;
    color: #ecf0f1;
}


  /***************************************************/
 /*              Incial comportament                */         
/***************************************************/

.about,
.hability,
.interest {
    display: none;
}
