/*     Inicial definitions */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html{
    font-family: 'Roboto', 'Arial';
    font-size: 20px;
}
a {
    text-decoration: none;
}

/**/

header {
    background-image: linear-gradient(rgb(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(image/back8.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: space-between;
}

.pages{
    width: 80%;
    height: 100%;
}

.navbar {
    width: 20%;
    height: 100%;
    background-color: #12191f;
    text-align: center;
    box-shadow: 0 0 50px #12191f;
}

.shadow {
    position: fixed;
    top: 0px;
    left: 23%;
    height: 20px;
    width: 35%;
    background-color: none;
    border-radius: 50%;
    box-shadow: 0px 490px 70px #12191f;
}




.contact {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 80%;
    height: fit-content;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25% 20px;
}

.contact i{
    color: #12191f;
    text-shadow: 0px 10px 30px transparent;
    font-size: 150%;
}

.contact i:hover{
    text-shadow: 0px 40px 35px #12191f;
    opacity: 0.9;
}




.navbar img{
    margin-top: 50px;
    margin-bottom: 30px;
    width: 160px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #2a3a49;
}

.navbar ul li{
    list-style: none;
    margin-top: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ecf0f1;
    font-size: 80%;
    cursor: pointer;
    padding: 6px 10px;
    transition: all 0.2s;
    text-shadow: 0px 10px 30px transparent;
}

.navbar ul li:hover{
    /* opacity: 0.8; */
    text-shadow: 1px 1px 5px #fff;
}

.list{
    display:none;
    position: fixed;
    top: 15px;
    right: 17px;
    z-index: 999;
    color: #12191f;
    font-size: 130%;
}

.next{
    display: none;
    position: absolute;
    right: 13%;
    bottom: 100px;
    z-index: 997;
    color: #12191f;
    font-size: 130%;
}




.home h1{
    font-size: 320%;
    font-weight: 400;
    color: #12191f;
}
.home h2{
    font-size: 175%;
    font-weight: 400;
    color: #12191f;
}



  


section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3 {
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 20px;
    color: #12191f;
}

section p {
    text-align: justify;
    width: 40%;
    font-size: 90%;
    color: #12191f;
    word-spacing: 1px;
}

  /***************************************************/
 /*                      Footer                     */         
/***************************************************/


  /***************************************************/
 /*              Incial comportament                */         
/***************************************************/

.about,
.hability,
.interest {
    display: none;
}
